body{
    margin: 0 auto;
}
.heading{
    height: '300px';
    width: '100%';
    display: flex;
    flex-direction: row;
    background-color: #fff !important;
    justify-content: space-between;
}

.heading img{
    height: 200px;
}

.menu{
    height: 50px;
    width: '100%';
    display: flex;
    flex-direction: row;
    background-color: #19715F ;
    color: #fff ;
    line-height: 50px;
}

.menu div {
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.menu div:hover{
    background: #0E4C3F;
}


.footer{
    height: 300px;
    width: '100%';
    display: flex;
    flex-direction: row;
    background-color: #19715F ;
    color: #fff ;
}

.footer div {
    width: 25%;
    text-align: center;
    cursor: pointer;
}

.sub-footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #0E4C3F;
    color: #fff;
}

.menu a {
    color: #fff !important;
    display: block;
}

.content{
    min-height: 400px;
    padding: 50px;
    background-color: #fff;
    color: #000;
}

.ant-layout-sider, .ant-layout-content{
    background : #fff !important;
    color: #000 !important;
}